:root {
  --dark: #12263A;
  --light: #F1EEF1;
  --accent-light: #D9888B;
  --accent-dark: #ed373d;
  --accent-gray: #919098;

  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 2rem;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
  background: url(assets/hero-main.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  scroll-behavior: smooth;
  scroll-padding-top: var(--scroll-padding, 50px);
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 4rem;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
}

h1, h2, p{
  color: var(--dark);
  padding: 2rem;
}

a {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
}

a:link, a:visited {
  color: var(--accent-dark);
  text-decoration: underline;
  cursor: auto;
}

a:link:active, a:visited:active {
  color: var(--accent-dark);
}